/upload
/*.log 
/*.txt
!/robots.txt
/*.xml 
/*.dt
/.DS_Store
/.idea

bitrix/activities/
bitrix/admin/
bitrix/backup/
bitrix/fonts/
bitrix/components/*
!bitrix/components/sushman/
bitrix/gadgets/
bitrix/image_uploader/
bitrix/images/
bitrix/js/
bitrix/css/
bitrix/modules
bitrix/otp/
bitrix/sounds/
bitrix/template/
bitrix/themes/
bitrix/tmp/
bitrix/tools/
bitrix/web.config
bitrix/wizards
bitrix/catalog_export/
bitrix/updates/
bitrix/panel/
bitrix/*.xml
bitrix/*.php
bitrix/*.log

bitrix/php_interface/dbconn.php

bitrix/cache
bitrix/managed_cache
bitrix/stack_cache
