.bx_ordercart .bx_sort_container {
    margin-bottom: 15px;
    min-height: 32px;
    color: #fff;
    vertical-align: middle;
    font-size: 15px;
    line-height: 32px;
}

.bx_ordercart .bx_sort_container a {
    display: inline-block;
    margin-left: 20px;
    padding: 0 20px;
    border-radius: 3px;
    background: #fff;
    color: #000;
    text-decoration: none;
    line-height: 32px;
}

.bx_ordercart .bx_sort_container a.current {
    background-color: #ccc;
}

.bx_ordercart .bx_sort_container a.current:hover {
}

.bx_ordercart .bx_sort_container a:hover, .bx_ordercart .bx_sort_container a:active {
    background: #777;
}

.bx_ordercart .bx_ordercart_order_table_container {
    overflow-x: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

.bx_ordercart .bx_ordercart_order_table_container table {
    margin: 0;
    padding: 0;
    min-width: 100%;
    border-collapse: collapse;
}

.bx_ordercart .bx_ordercart_order_table_container table td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
}

.bx_ordercart .bx_ordercart_order_table_container table td.margin {
    padding: 0;
    width: 6%;
}

.bx_ordercart .bx_ordercart_order_table_container table thead td {
    padding: 0 15px;
    min-height: 39px;
    text-align: center;
    background: #303030;
    color: #fff;
    font-size: 16px;
    line-height: 49px;
}

.bx_ordercart .bx_ordercart_order_table_container table tbody td {
    padding: 12px 5px;
    vertical-align: middle;
}

.bx_ordercart .bx_ordercart_order_table_container table tbody td td {
    padding: 0 1px !important;
}

.bx_ordercart .bx_ordercart_order_table_container table thead tr td {
    border-bottom: none;
}

.bx_ordercart .bx_ordercart_order_table_container table thead tr td span {
    line-height: normal;
    display: block;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.itemphoto {
    width: 20%;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.item,
.bx_ordercart .bx_ordercart_order_table_container tbody td.custom,
.bx_ordercart .bx_ordercart_order_table_container tbody td.control,
.bx_ordercart .bx_ordercart_order_table_container tbody td.price {
    text-align: left;
    font-size: 16px;
    line-height: 27px;
    color: #fff;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.custom span {
    display: none;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.custom span.ico-rub {
    display: inline;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.custom a {
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.item {
    width: 70%;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.price .current_price, .bx_ordercart .bx_ordercart_order_table_container tbody td.custom .sum {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.price .old_price {
    color: #b8b8b8;
    text-decoration: line-through;
    font-size: 16px;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.price .type_price {
    color: #7f7f7f;
    font-size: 11px;
    line-height: 13px;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.price .type_price_value {
    font-size: 11px;
    line-height: 13px;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.control a {
    color: #327ab7;
    font-size: 11px;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.control a:hover {
    text-decoration: none;
}

.bx_ordercart .bx_ordercart_photo_container {
    position: relative;
    width: 82px;
    height: 82px;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_brand {
    position: relative;
    margin-top: 3%;
    min-width: 50px;
    max-width: 100%;
    line-height: 0;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_brand img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemtitle {
    margin: 0;
    padding: 0;
    white-space: normal;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemtitle a {
    display: inline-block;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemart {
}

.bx_ordercart td.custom .some-class {
    display: none
}

/*
.bx-touch    .bx_ordercart td.custom .centered,
.bx-no-touch .bx_ordercart td.custom .some-class{display: none}
*/
.bx_ordercart .bx_ordercart_order_pay {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px auto 0;
    margin-top: 45px;
}

.bx_ordercart .bx_ordercart_order_pay_left {
    float: left;
    width: 30%;
}

.bx_ordercart .sum-note {
    text-align: right;
    margin-top: 5px;
    font-size: 12px;
}

.bx_ordercart .bx_ordercart_order_pay_right {
    float: right;
    width: 50%;
}

.bx_ordercart .bx_ordercart_coupon {
}

.bx_ordercart .bx_ordercart_coupon span {
    display: block;
    margin-bottom: 13px;
    color: #7f7f7f;
    font-size: 13px;
}

.bx_ordercart .bx_ordercart_coupon input {
    height: 34px;
    border: 1px solid #bababa;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .21);
    color: #000;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    line-height: 34px;
}

.bx_ordercart .bx_ordercart_coupon input.good {
    border: 1px solid #59a62a;
    background: rgba(89, 166, 42, .16);
    box-shadow: 0 0 2px 0 rgba(89, 166, 42, .8);
}

.bx_ordercart .bx_ordercart_coupon input.bad {
    border: 1px solid #e16565;
    background: rgba(225, 101, 101, .16);
    box-shadow: 0 0 2px 0 rgba(225, 101, 101, .8);
}

.bx_ordercart .bx_ordercart_order_sum {
    float: right;
    border-spacing: 0;
}

.bx_ordercart .bx_ordercart_order_sum tr {
}

.bx_ordercart .bx_ordercart_order_sum tr td {
    text-align: right;
    color: #fff;
    border-bottom: none;
}

.static .bx_ordercart table tr th {
    text-align: right;
}

.bx_ordercart .bx_ordercart_order_sum th.total-title {
    background: none;
    font-family: 'CentSchbkCyrill BT';
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    color: #282828;
}

.bx_ordercart .bx_ordercart_order_sum th {
    background: #303030;
    font-weight: bold;
    white-space: nowrap;
}

.bx_ordercart .bx_ordercart_order_sum tr td {
    line-height: 27px;
}

.bx_ordercart .bx_ordercart_order_sum tr td.custom_t1 {
    width: 100%;
}

.bx_ordercart .bx_ordercart_order_sum tr td.custom_t2 {
    white-space: nowrap;
}

.bx_ordercart .bx_ordercart_order_sum tr td.fwb {
    font-weight: bold;
    font-size: 27px;
    color: #b1291b;
}

.bx_ordercart_order_pay_center {
    text-align: right;
}

.bx_ordercart_order_pay_center span,
.bx_ordercart_order_pay_center a {
    vertical-align: middle;
}

.bx_ordercart_order_pay_center span {
    margin: 0 30px;
    font-weight: bold;
    font-size: 17px;
}

.bx_ordercart_order_pay_center .checkout {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 48px;
    color: #fff;
    background: url(/bitrix/templates/sushman/img/btn-bg.png) no-repeat center;
    vertical-align: bottom;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
}

.bx_ordercart_order_pay_center .checkout:hover {
    opacity: 0.75;
    filter: Alpha(opacity=75);
}

.bx_ordercart .bx_ordercart_order_table_container .custom .num-wrapper {
    text-align: center;
}

.bx_ordercart .bx_ordercart_order_table_container .custom .num {
    position: relative;
    z-index: 1;
    top: 0;
    left: 7px;
    background: #469339;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 0 8px;
    line-height: 30px;
    display: inline-block;
}

.bx_ordercart .bx_ordercart_order_table_container .price-block {
    margin: 0;
}

.bx_ordercart .bx_ordercart_order_table_container .price-block .q-block {
    position: relative;
    display: inline-block !important;
    border: 1px solid white;
}

/* quantity control table */

table.counter {
    min-width: 0% !important;
}

table.counter td {
    border: none !important;
    vertical-align: middle;
}

table.counter tbody tr td#quantity_control {
    text-align: left;
}

.flat {
    display: inline;
}

.centered {
    text-align: center;
}

.bt2 {
    color: #3f3f3f;
    font-size: 13px;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    font-weight: bold;
    text-shadow: 0 1px 1px #fff;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #eee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #eee));
    background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
    background: -o-linear-gradient(top, #fff 0%, #eee 100%);
    background: -ms-linear-gradient(top, #fff 0%, #eee 100%);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.bt2:hover {
    color: #3f3f3f;
    background: #fbfbfb;
    text-decoration: none !important
}

.bt2:active {
    color: #3f3f3f;
    text-shadow: none;
    text-shadow: 0 2px 1px white;
    background: #fbfbfb;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fbfbfb), color-stop(100%, #eaeaea));
    background: -webkit-radial-gradient(center, ellipse cover, #fbfbfb 0%, #eaeaea 100%);
    background: -o-radial-gradient(center, ellipse cover, #fbfbfb 0%, #eaeaea 100%);
    background: -ms-radial-gradient(center, ellipse cover, #fbfbfb 0%, #eaeaea 100%);
    background: radial-gradient(ellipse at center, #fbfbfb 0%, #eaeaea 100%);
    box-shadow: none;
    padding: 6px 15px;
    border: 1px solid #d2d2d2
}

input.bt2 {
    border: none
}

input.bt2:active {
    border: 1px solid #d2d2d2
}

/* size */

.bx_item_detail_size_small_noadaptive {
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    width: 192px;
}

.bx-no-touch .bx_item_detail_size_small_noadaptive.full {
    position: relative;
    margin-left: -5%;
    padding: 0 5%;
}

/*----*/

.bx_item_detail_size_small_noadaptive .bx_item_section_name_gray {
    color: #9e9e9e;
    vertical-align: middle;
    font-size: 11px;
    line-height: 11px;
}

/*----*/

.bx_item_detail_size_small_noadaptive .bx_size_scroller_container {
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
}

.bx_item_detail_size_small_noadaptive .bx_size {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.bx_item_detail_size_small_noadaptive ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}

.bx-touch .bx_item_detail_size_small_noadaptive .bx_size {
    overflow-x: auto;
}

.bx_item_detail_size_small_noadaptive ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}

.bx-touch .bx_item_detail_size_small_noadaptive .bx_size ul {
    margin-left: 0 !important;
}

.bx_item_detail_size_small_noadaptive ul li {
    position: relative;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 25px;
}

.bx_item_detail_size_small_noadaptive ul li a {
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 2px;
    left: 2px;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;

    color: #3f3f3f;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
}

.bx-touch .bx_item_detail_size_small_noadaptive ul li a {
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border.png) 2 stretch;
    -moz-border-image: url(images/x2border.png) 2 stretch;
    -o-border-image: url(images/x2border.png) 2 stretch;
    border-image: url(images/x2border.png) 2 fill stretch;
}

.bx_item_detail_size_small_noadaptive ul li:hover a {
    border: 1px solid #006cc0
}

.bx_item_detail_size_small_noadaptive ul li:active a,
.bx_item_detail_size_small_noadaptive ul li.bx_active a {
    /*padding: 3px;*/
    border: 2px solid #006cc0;
}

.bx-touch .bx_item_detail_size_small_noadaptive ul li.bx_active a {
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2borderactive.png) 2 stretch;
    -moz-border-image: url(images/x2borderactive.png) 2 stretch;
    -o-border-image: url(images/x2borderactive.png) 2 stretch;
    border-image: url(images/x2borderactive.png) 2 fill stretch;
}

/*----*/

.bx-no-touch .bx_item_detail_size_small_noadaptive .bx_slide_left,
.bx-no-touch .bx_item_detail_size_small_noadaptive .bx_slide_right {
    opacity: 0.8
}

.bx-no-touch .bx_item_detail_size_small_noadaptive .bx_slide_left:hover,
.bx-no-touch .bx_item_detail_size_small_noadaptive .bx_slide_right:hover {
    opacity: 1.0
}

.bx_item_detail_size_small_noadaptive.full .bx_slide_left,
.bx_item_detail_size_small_noadaptive.full .bx_slide_right {
    position: absolute;
    top: 0;
    bottom: 4px;
    width: 5%;
    max-width: 11px;
    cursor: pointer;
}

.bx-no-touch .bx_item_detail_size_small_noadaptive .bx_slide_left {
    left: -5%;
    background: url(images/arr_left.png) no-repeat left center;
    background-size: 100% auto
}

.bx-no-touch .bx_item_detail_size_small_noadaptive .bx_slide_right {
    right: -5%;
    background: url(images/arr_right.png) no-repeat right center;
    background-size: 100% auto
}

.bx-touch .bx_item_detail_size_small_noadaptive .bx_slide_left {
    left: 0;
    background: url(images/fade_left.png) repeat-y left center;
    background-size: 100% auto
}

.bx-touch .bx_item_detail_size_small_noadaptive .bx_slide_right {
    right: 0;
    background: url(images/fade_right.png) repeat-y right center;
    background-size: 100% auto
}

/* end of size */

/* sku */

.bx_item_detail_scu_small_noadaptive {
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    max-width: 100%;
    width: 193px;
}

.bx-no-touch .bx_item_detail_scu_small_noadaptive.full {
    position: relative;
    margin-left: -5%;
    padding: 0 5%
}

/*----*/

.bx_item_detail_scu_small_noadaptive .bx_item_section_name_gray {
    color: #9e9e9e;
    vertical-align: middle;
    font-size: 11px;
    line-height: 11px
}

/*----*/

.bx_item_detail_scu_small_noadaptive .bx_scu_scroller_container {
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
}

.bx_item_detail_scu_small_noadaptive .bx_scu {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%
}

.bx-touch .bx_item_detail_scu_small_noadaptive .bx_scu {
    overflow-x: auto
}

.bx_item_detail_scu_small_noadaptive .bx_scu ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap
}

.bx-retina .bx_item_detail_scu_small_noadaptive .bx_scu ul {
    margin-left: 0 !important
}

.bx_item_detail_scu_small_noadaptive .bx_scu ul li {
    position: relative;
    display: block;
    float: left;
    padding-top: 10%;
    height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bx_item_detail_scu_small_noadaptive .bx_scu ul li a {
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 4px;
    left: 2px;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;
}

.bx-retina .bx_item_detail_scu_small_noadaptive .bx_scu ul li a {
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border.png) 2 stretch;
    -moz-border-image: url(images/x2border.png) 2 stretch;
    -o-border-image: url(images/x2border.png) 2 stretch;
    border-image: url(images/x2border.png) 2 fill stretch;
}

.bx_item_detail_scu_small_noadaptive .bx_scu ul li:hover a {
    border: 1px solid #006cc0
}

.bx_item_detail_scu_small_noadaptive .bx_scu ul li:active a,
.bx_item_detail_scu_small_noadaptive .bx_scu ul li.bx_active a {
    padding: 3px;
    border: 2px solid #006cc0;
}

.bx-retina .bx_item_detail_scu_small_noadaptive .bx_scu ul li.bx_active a {
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2borderactive.png) 2 stretch;
    -moz-border-image: url(images/x2borderactive.png) 2 stretch;
    -o-border-image: url(images/x2borderactive.png) 2 stretch;
    border-image: url(images/x2borderactive.png) 2 fill stretch;
}

.bx_item_detail_scu_small_noadaptive .bx_scu ul li a span {
    position: absolute;
    top: 6%;
    right: 6%;
    bottom: 6%;
    left: 6%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.bx_item_detail_scu_small_noadaptive .bx_scu ul li a span img {
    width: auto;
    height: 25px;
}

/*----*/

.bx-no-touch .bx_item_detail_scu_small_noadaptive .bx_slide_left,
.bx-no-touch .bx_item_detail_scu_small_noadaptive .bx_slide_right {
    opacity: 0.8
}

.bx-no-touch .bx_item_detail_scu_small_noadaptive .bx_slide_left:hover,
.bx-no-touch .bx_item_detail_scu_small_noadaptive .bx_slide_right:hover {
    opacity: 1.0
}

.bx_item_detail_scu_small_noadaptive.full .bx_slide_left,
.bx_item_detail_scu_small_noadaptive.full .bx_slide_right {
    position: absolute;
    top: 0;
    bottom: 4px;
    width: 5%;
    max-width: 11px;
    cursor: pointer;
}

.bx-no-touch .bx_item_detail_scu_small_noadaptive .bx_slide_left {
    left: -5%;
    background: url(images/arr_left.png) no-repeat left center;
    background-size: 100% auto
}

.bx-no-touch .bx_item_detail_scu_small_noadaptive .bx_slide_right {
    right: -5%;
    background: url(images/arr_right.png) no-repeat right center;
    background-size: 100% auto
}

.bx-touch .bx_item_detail_scu_small_noadaptive .bx_slide_left {
    left: 0;
    background: url(images/fade_left.png) repeat-y left center;
    background-size: 100% auto
}

.bx-touch .bx_item_detail_scu_small_noadaptive .bx_slide_right {
    right: 0;
    background: url(images/fade_right.png) repeat-y right center;
    background-size: 100% auto
}

/* end of sku */

#warning_message {
    color: red;
}

.static table.bx_ordercart_order_sum {
    background: #393939;
    width: auto !important;
}

#order_form_div table.bx_ordercart_order_sum {
    float: none !important;
}

.static table.bx_ordercart_order_sum tr th {
    color: #282828;
    background: #fff;
}

.static table.bx_ordercart_order_sum tr td {
    color: #fff;
    background: none;
}

#order_form_div input#total_cash {
    width: 50px;
    height: 27px;
    padding: 0 5px;
}