#order_form_div .sale_data-table.summary td {
}
#order_form_div {
}
#order_form_div .sof-req {
	color: red;
}
#order_form_div .clear {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	font-size: 0px;
	line-height: 0px;
}
#order_form_div .order_field {
    float:left;
    min-height:70px;
}
#order_form_div input[type="text"],
#order_form_div input[type="password"],
#order_form_div textarea,
#order_form_div select{
	/*background: #494949;
	color: #fff;*/
	color: #000;
	background: #fff;
	display: inline-block;
	outline: none;
	vertical-align: middle;
        font-family:'Open Sans',Arial;
	font-size: 14px;
        height:38px;
	padding: 0 10px;
        border:none;
        width:265px;
}
#order_form_div select{
  width:245px;
}
#order_form_div .section {
	margin-bottom: 30px;
}
#order_form_div .title {
	font-weight: bold;
	font-size: 15px;
	border-bottom: 1px solid #dcdfe2;
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#order_form_div .title a {
	color: #2d739d;
	text-decoration: underline;
	margin-left: 10px;
	outline: none;
}
#order_form_div .title a:hover {
	text-decoration: none;
}
#order_form_div .label.left {
	float: left;
	margin: 0 10px 10px 0;
}
#order_form_div .sale_order_table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
#order_form_div .sale_order_table td {
	padding: 15px 0;
	background: none !important;
}
#order_form_div .sale_order_table .name {
	width: 190px;
	text-align: left;
	vertical-align: top;
}
#order_form_div .sale_order_table.props td {
	border-bottom: 1px solid #dcdfe2;
}
#order_form_div .sale_order_table input[type="text"],
#order_form_div .sale_order_table textarea,
#order_form_div .sale_order_table select{
	width: 365px;
}
#order_form_div .sale_order_table textarea {
	height: 70px;
	overflow: hidden;
	resize: none;
}
#order_form_div .sale_order_table select {
	padding: 6px 3px 6px 8px;
	width: 383px;
	margin-bottom: 5px;
}
#order_form_div .sale_order_table .desc {
	color: #fff;
	margin: 3px 0;
}

/*paysystem*/
#order_form_div .sale_order_table.paysystem td {
	border-bottom: none;
}
#order_form_div .sale_order_table .ps_logo {
	float: left;
	text-align: center;
	margin: 0 15px 10px 0;
	height: 85px;
}

#order_form_div .sale_order_table .with_description {
	margin-right: 0 !important;
	height: 30px;
}

#order_form_div .sale_order_table .ps_logo img,
#order_form_div  .sale_order_confirm img,
#order_form_div .account img {
	border-radius: 2px;
	border: 1px solid #d1d1d1;
	box-shadow: 2px 2px 2px rgba(180,188,191,0.5);
	padding:1px;
	float: left;
}

div.bx_section div.bx_block div.bx_element input[type=radio],
div.bx_section div.bx_block div.bx_element input[type=checkbox],
#order_form_div .sale_order_table .ps_logo input[type=radio],
#order_form_div .account input[type=checkbox] {
	display: none;
}
.bx_element {
    float:left;
    margin-right:18px;
}
.bx_element input[type=radio] + label {
    padding-left:38px;
    position:relative;
}
.bx_element input[type=radio] + label:before {
    content:'';
    position:absolute;
    left:0;
    top:50%;
    margin-top:-10px;
    width:24px;
    height:20px;
    background:url(/bitrix/templates/sushman/img/checkbox.png) no-repeat -24px 0;
}
.bx_element input[type=radio]:checked + label:before {
    background-position:0 0;
}
.bx_element input[type=radio]:checked + label .bx_logotype,
.bx_element label.selected .bx_logotype
{
}

#order_form_div .sale_order_table .paysystem_name,
#order_form_div .sale_order_confirm .paysystem_name {
	color: #fff;
	width: 95px;
}
#order_form_div .account img,
#order_form_div .account .desc {
	float: left;
}
#order_form_div .account img {
	margin-right: 10px;
}
#order_form_div .account .name {
	font-weight: bold;
	margin-bottom: 3px;
	color: #000;
}
#order_form_div .account .desc {
	color: #fff;
	text-align: left;
	width: 80%;
}
#order_form_div .account .desc.width_limited {width:100%;}
#order_form_div .account .ps_logo.with_description {width:100%;}

/*delivery*/
#order_form_div .sale_order_table.delivery td {
	padding: 7px 0;
}
#order_form_div .sale_order_table.delivery .name {
	font-weight: bold;
	width: auto;
	color: #000;
}
#order_form_div .sale_order_table.delivery .desc {
	color: #a3a3a3;
	width: 400px;
}
#order_form_div .sale_order_table.delivery td table {
	width: auto;
}
#order_form_div .sale_order_table.delivery td table td {
	padding: 0;
	text-align: left;
}
#order_form_div .sale_order_table.delivery .prop img {
	border-radius: 2px;
	border: 1px solid #d1d1d1;
	box-shadow: 2px 2px 2px rgba(180,188,191,0.5);
	padding:1px;
	margin: 0 10px 0 0;
}
#order_form_div .sale_order_table.delivery .prop input,
#order_form_div .sale_order_table.delivery .prop img,
#order_form_div .sale_order_table.delivery .prop .desc {
	float: left;
	margin-right: 10px;
}
#order_form_div .sale_order_table.delivery .prop input[type=radio] {
	display: none;
}

/*summary*/
#order_form_div .sale_data-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-top: 10px;
}
#order_form_div .sale_data-table th {
	background-color: #f5f5f5;
	padding: 7px 13px;
	text-align: left;
	font-weight: normal;
}
#order_form_div .sale_data-table td {
	border-bottom: 1px solid #f5f5f5;
	padding: 7px 13px;
	text-align: left;
	background: none !important;
}
#order_form_div .sale_data-table td.price {
	white-space: nowrap;
	text-align: right;
}
#order_form_div .sale_data-table td.itog {
	text-align: right;
}
#order_form_div .sale_data-table tfoot td {
	border-bottom: none;
}
#order_form_div .sale_data-table tfoot tr.last td {
	border-top: 1px solid #f5f5f5;
	font-weight: bold;
	white-space: nowrap;
}
#order_form_div .order_comment {
	width: 100%;
}
#order_form_div .order_comment div {
	color: #fff;
	margin-bottom: 5px;
}
#order_form_div .order_comment textarea {
	width: 97%;
	height: 70px;
}

/* auth */
#order_form_div .order-auth {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
#order_form_div .order-auth td {
	text-align: left;
	vertical-align: top;
}
#order_form_div .sale_order_table.delivery .errortext {
	margin: 0;
	font-size: 12px;
	padding: 5px;
	width: 230px;
}
#order_form_div .sale_order_full_table td.ps_logo {
	text-align: left;
	vertical-align: top;
}
#order_form_div .sale_order_full_table .ps_logo .pay_name {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 14px;
}
#order_form_div .desc .ora-store {
	font-size: 12px;
}
.store_location {
	display:none;
}
.store_location .ora-store {
	width: 40%;
	float: left;
}
.store_location .ora-store table td {
	padding: 10px;
	text-align: left;
	vertical-align: top;
}
.store_location .name {
	font-weight: bold;
}
.store_location .location {
	width: 60%;
	float: left;
}
#order_form_div .select_store {
	font-size:12px;
}

.image {
	padding: 5px 0 5px 0;
}

/* new */

.bx_order_make{
	font-size: 14px;
}
.bx_order_make hr{
	border: none;
	border-bottom: 1px solid #dcdfe2;
}
.bx_order_make .bx_section{
	margin-bottom: 20px;
}
.bx_order_make .bx_section h4{
	display: block;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dcdfe2;
}
.bx_order_make .bx_block{
    margin:3px 0;
    font-size:16px;
}
.bx_order_make .bx_block.r1x3.pt8{padding-top:8px}
.bx_order_make .bx_block.r1x3{margin:0; 		  width:20% }
.bx_order_make .bx_block.r3x1{margin:0; 		  width:80% }
.bx_order_make .bx_block.w100{margin:5px 0 10px 0;width:100%}
.bx_order_make .bx_block.horizontal {margin:5px 0 10px 0}
@media (max-width:640px){
	.bx_order_make .bx_block.r1x3{width:35%}
	.bx_order_make .bx_block.r3x1{width:65%}
}
@media (max-width:480px){
	.bx-touch .bx_order_make .bx_block.r1x3,
	.bx-touch .bx_order_make .bx_block.r3x1{float:none;margin-right:0;width:100%;}
}
.bx_order_make .bx_block input[type="text"],
.bx_order_make .bx_block textarea,
.bx_order_make .bx_block select{width:100%}
.bx_order_make .bx_block input[type="text"],
.bx_order_make .bx_block textarea,
.bx_order_make .bx_block select{
	display: block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	vertical-align: middle;
}
.bx_order_make .bx_sof_req{color:#a41f19;}

.bx_order_make .bx_logotype{
	margin-left: 7px;
        display:inline-block;
        vertical-align:top;
}
.bx_order_make .bx_block.horizontal .bx_logotype{margin-right: 0}
.bx_order_make .bx_logotype span{
	display: inline-block;
	width: 90px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: center;
}
.bx_order_make .bx_logotype.active,
.bx_order_make .bx_logotype:hover{
}
.bx_order_make .bx_description{
    display:inline-block;
    vertical-align:top;
	color: #bfc9d0;
        font-size:16px;
}
.bx_order_make .bx_description p{
	display: block;
	/*clear: both*/
}
.bx_order_make .bx_result_price{
}
.bx_order_make .bx_result_price a{font-weight: normal;}
@media (max-width:640px){
	.bx_order_make .bx_result_price{
		float: none;
		display: block;
		width: 100%;
	}
}
.bx_order_make .bx_result_price a{color: #12a9e1}
.bx_order_make .bx_result_price a:hover{text-decoration:none}
.bx_order_make .bx_description strong{
	display: block;
	/*float: left;*/
}

.bx_ordercart .bx_ordercart_order_table_container tbody .right {
    text-align: right !important;
}

div#order_form_content div.bx_section div#sale_order_props div div.bx_block textarea {
 	margin-bottom: 10px;
}
#sale_order_props {
  position:relative;
  margin-left:-38px;
}
#sale_order_props .order_field .bx_block {
  margin-left:38px;
  margin-right:0;
}
#order_form_content p {
    margin:0;
}
div#order_form_content .errortext {
	display: inline-block;
	margin:4px;
	color: #c73833 !important;
        font-style:italic;
	font-size: 13px;
}

#order_form_content .bx_result_price {
    float: right;
    text-align: right;
    display:block;
    color: #fff;
    font-weight: bold;
    font-size: 27px;
}
