<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Сушман: главная</title>
        <meta charset="utf-8" />
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="[?description]" />
        <meta name="keywords" content="[?keywords]" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link media="all" rel="stylesheet" href="/css/reset.css" />
        <link media="all" rel="stylesheet" href="/css/jquery.selectBox.css" />
        <link media="all" rel="stylesheet" href="/css/idangerous.swiper.css" />
        <link media="all" rel="stylesheet" href="/css/style.css?v=1.0" />   
        <!--[if lt IE 9]><link rel="stylesheet" href="/css/style-ie8.css" type="text/css" media="all" /><![endif]-->    
        <script type="text/javascript" src="/js/libs/jquery-1.11.0.min.js"></script>           
        <script type="text/javascript" src="/js/libs/jquery.placeholder.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.mb.browser.min.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.imgpreload.min.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.selectBox.js"></script>
        <script type="text/javascript" src="/js/libs/idangerous.swiper.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.inputmask.bundle.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/js/libs/fancybox/jquery.fancybox.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <!--[if gte IE 9]>
          <style type="text/css">
            .grad {
               filter: none;
            }
          </style>
        <![endif]-->        
        <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/libs/html5shiv.js"></script>
        <script type="text/javascript" src="/js/libs/css3-mediaqueries.js"></script>
        <![endif]-->    
    </head>
    <body class="index">
        <div id="wrapper"><div id="inner-wrapper">
                <div id="sitebg"></div>

                <header>
                    <div class="center-col">
                        <a id="logo" href="/" title="На главную"><span>Сушманн:Пицманн</span></a>
                        <div class="info-block">
                            <div class="vk-block"><span class="semi">Официальная группа Вконтакте</span><br/><a href="http://vk.com/nvkz756300">vk.com/nvkz756300</a></div>
                            <div class="phone-block"><span class="semi">Доставка по тел.:</span><br/><span class="phone">8-987-654-3210</span></div>
                        </div>
                        <div class="center-block">
                            <select name="city"><option value="nkz" selected>Новокузнецк</option><option value="kem">Кемерово</option><option value="nsk">Новосибирск</option></select>
                            <br/>
                            <a id="promo-link" href="#"><span class="bg"></span><span>Модная доставка</span></a>
                        </div>
                        <div class="head-line"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="center-col">
                        <div class="mainmenu">
                            <ul>
                                <li><a href="#" class="item-menu">Меню</a></li>
                                <li><a href="#" class="item-specials">Акции</a></li>
                                <li><a href="#" class="item-delivery">Доставка</a></li>
                                <li><a href="#" class="item-about">О компании</a></li>
                            </ul>
                        </div>
                    </div>
                </header>
                
                <section>
                    <div class="center-col">
                        <div class="left-col">
                            <div class="inner-block">
                                <div class="title">Лови момент</div>
                                <div class="bcont">
                                    <div class="pic">
                                        <a href="#"><img src="/img/test/1.jpg"/></a>
                                    </div>
                                    <div class="t1">Каппа маки терияки</div>
                                    <div class="price">
                                        <span class="old-price">55 <span class="rub">Р</span></span>
                                        <span class="current-price">45 <span class="rub">Р</span></span>
                                    </div>
                                </div>
                                <div class="bottom-cont">
                                    <div class="subtitle">Осталось</div>
                                    <div class="timer">
                                        <div class="time">
                                            <div class="label">минут</div>
                                            <div class="data">23:35</div>
                                        </div>
                                        <div class="q">
                                            <div class="label">штук</div>
                                            <div class="data">15</div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="centered"><a href="#" class="btn">Заказать</a></div>
                                    
                                </div>
                            </div>
                            <div class="inner-block">
                                <div class="title">Рекомендуем попробовать</div>
                                <div class="bcont">
                                    <ul class="recommends">
                                        <li><a href="#">
                                            <span class="item-pic" style="background-image:url(/img/test/2.png);"></span>
                                            <span class="item-num">0002</span>
                                            <span class="item-title">Филадельфия с острым соусом</span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="item-pic" style="background-image:url(/img/test/2.png);"></span>
                                            <span class="item-num">0002</span>
                                            <span class="item-title">Филадельфия с острым соусом</span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="item-pic" style="background-image:url(/img/test/2.png);"></span>
                                            <span class="item-num">0002</span>
                                            <span class="item-title">Филадельфия с острым соусом</span>
                                        </a></li>
                                        <li><a href="#">
                                            <span class="item-pic" style="background-image:url(/img/test/2.png);"></span>
                                            <span class="item-num">0002</span>
                                            <span class="item-title">Филадельфия с острым соусом</span>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="main-col">
                            <div id="main-slider">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide slide-right">
                                            <div class="pic" style="background-image:url(/img/slider/1.jpg)"></div>
                                            <div class="desc valigned"><div class="vi">
                                                <span class="title"><span>Острые роллы</span><br/><span>по бюджетной цене</span></span>                                                    
                                                <a href="#" class="more">Узнать подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <ul id="cats">
                                <li><a href="#">
                                    <span class="title">Сеты</span>
                                    <span class="pic"><img src="/img/items/1.png"/></span>
                                </a></li>
                                <li><a href="#">
                                    <span class="title">Суши</span>
                                    <span class="pic"><img src="/img/items/2.png"/></span>
                                </a></li>

                                <li><a href="#">
                                    <span class="title">Роллы</span>
                                    <span class="pic"><img src="/img/items/1.png"/></span>
                                </a></li>
                                <li><a href="#">
                                    <span class="title">Пицца</span>
                                    <span class="pic"><img src="/img/items/2.png"/></span>
                                </a></li>
                                
                                <li><a href="#">
                                    <span class="title">Вок</span>
                                    <span class="pic"><img src="/img/items/1.png"/></span>
                                </a></li>
                                <li><a href="#">
                                    <span class="title">Горячие блюда</span>
                                    <span class="pic"><img src="/img/items/2.png"/></span>
                                </a></li>
                                
                                <li><a href="#">
                                    <span class="title">Бургеры</span>
                                    <span class="pic"><img src="/img/items/1.png"/></span>
                                </a></li>
                                <li><a href="#">
                                    <span class="title">Супы</span>
                                    <span class="pic"><img src="/img/items/2.png"/></span>
                                </a></li>
                                
                                <li><a href="#">
                                    <span class="title">Салаты</span>
                                    <span class="pic"><img src="/img/items/1.png"/></span>
                                </a></li>
                                <li><a href="#">
                                    <span class="title">Закуски</span>
                                    <span class="pic"><img src="/img/items/2.png"/></span>
                                </a></li>
                                
                                <li><a href="#">
                                    <span class="title">Соусы</span>
                                    <span class="pic"><img src="/img/items/1.png"/></span>
                                </a></li>
                                <li><a href="#">
                                    <span class="title">Десерты</span>
                                    <span class="pic"><img src="/img/items/2.png"/></span>
                                </a></li>
                                
                                <li><a href="#">
                                    <span class="title">Напитки</span>
                                    <span class="pic"><img src="/img/items/1.png"/></span>
                                </a></li>
                                <li><a href="#">
                                    <span class="title">Пиво</span>
                                    <span class="pic"><img src="/img/items/2.png"/></span>
                                </a></li>
                            </ul><div class="clear"></div>
                            <div class="line"></div>
                            <div class="search-block">
                                <h3>Поиск по ингредиентам</h3>
                                <div class="note">выберите два понравившихся ингредиента </div>
                            </div>
                            <div class="line"></div>
                            <div class="ingr-slider">
                                <div class="arrow-gallery arrow-left"></div><div class="arrow-gallery arrow-right"></div>
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="inner">
                                                <div class="pic" style="background-image:url(/img/ing/1.png);"></div>
                                                <div class="cat-title">Тунец</div>
                                                <div class="cb"><input type="checkbox" name="ingr[]" value="1" checked  id="ccb1"><label for="cb1"></label></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inner">
                                                <div class="pic" style="background-image:url(/img/ing/2.png);"></div>
                                                <div class="cat-title">Моллюски</div>
                                                <div class="cb"><input type="checkbox" name="ingr[]" value="1" id="ccb2"><label for="cb2"></label></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inner">
                                                <div class="pic" style="background-image:url(/img/ing/3.png);"></div>
                                                <div class="cat-title">Ракообразные</div>
                                                <div class="cb"><input type="checkbox" name="ingr[]" value="1" id="ccb3"><label for="cb3"></label></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inner">
                                                <div class="pic" style="background-image:url(/img/ing/4.png);"></div>
                                                <div class="cat-title">Мясо</div>
                                                <div class="cb"><input type="checkbox" name="ingr[]" value="1" id="ccb4"><label for="cb4"></label></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inner">
                                                <div class="pic" style="background-image:url(/img/ing/5.png);"></div>
                                                <div class="cat-title">Авокадо</div>
                                                <div class="cb"><input type="checkbox" name="ingr[]" value="1" id="ccb5"><label for="cb5"></label></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inner">
                                                <div class="pic" style="background-image:url(/img/ing/1.png);"></div>
                                                <div class="cat-title">Вегетарианские</div>
                                                <div class="cb"><input type="checkbox" name="ingr[]" value="1" id="ccb6"><label for="cb6"></label></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inner">
                                                <div class="pic" style="background-image:url(/img/ing/2.png);"></div>
                                                <div class="cat-title">Острые</div>
                                                <div class="cb"><input type="checkbox" name="ingr[]" value="1" id="ccb6"><label for="cb6"></label></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inner">
                                                <div class="pic" style="background-image:url(/img/ing/3.png);"></div>
                                                <div class="cat-title">Угорь</div>
                                                <div class="cb"><input type="checkbox" name="ingr[]" value="1" id="ccb7"><label for="cb7"></label></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inner">
                                                <div class="pic" style="background-image:url(/img/ing/4.png);"></div>
                                                <div class="cat-title">Сырные</div>
                                                <div class="cb"><input type="checkbox" name="ingr[]" value="1" id="ccb8"><label for="cb8"></label></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inner">
                                                <div class="pic" style="background-image:url(/img/ing/5.png);"></div>
                                                <div class="cat-title">Вкусные</div>
                                                <div class="cb"><input type="checkbox" name="ingr[]" value="1" id="ccb9"><label for="cb9"></label></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inner">
                                                <div class="pic" style="background-image:url(/img/ing/1.png);"></div>
                                                <div class="cat-title">Румяные</div>
                                                <div class="cb"><input type="checkbox" name="ingr[]" value="1" id="ccb10"><label for="cb10"></label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="centered" style="margin:16px 0;">
                                    <a href="#" class="btn-with-icon btn-search"><span>искать</span></a>
                                </div>
                                
                            </div>
                                
                            
                            
                            
                        </div>
                        
                        
                        <div class="clear"></div>
                    </div>
                </section>
                
                <footer>
                    <div class="inside-cont center-col">
                        <div class="mainmenu">
                            <ul>
                                <li><a href="#" class="item-menu">Меню</a></li>
                                <li><a href="#" class="item-specials">Акции</a></li>
                                <li><a href="#" class="item-delivery">Доставка</a></li>
                                <li><a href="#" class="item-about">О компании</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="outside-cont">
                        <div class="center-col">
                            <div class="phone">8-987-654-3210</div>
                            <div class="card-block">
                                <span>оплата по карте</span><br/>
                                <span class="icon-card icon-visa"></span><span class="icon-card icon-mastercard"></span>
                            </div>
                            <div class="right-block valigned">
                                <span>ОГРН 313425310700041</span>
                            </div>
    <!--                        <a id="sitedesign" href="http://www.web-axioma.ru/" target="_blank" title="Создание, продвижение и администрирование сайтов">Создание сайта — AXIOMA</a> -->
                            <div class="clear"></div>
                        </div>
                    </div>
                </footer>
                
        </div></div>
        <div class="btnUp"></div>
    </body>
</html>