<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Сушман: типовая</title>
        <meta charset="utf-8" />
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="[?description]" />
        <meta name="keywords" content="[?keywords]" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link media="all" rel="stylesheet" href="/css/reset.css" />
        <link media="all" rel="stylesheet" href="/css/jquery.selectBox.css" />
        <link media="all" rel="stylesheet" href="/css/idangerous.swiper.css" />
        <link media="all" rel="stylesheet" href="/css/style.css?v=1.0" />   
        <!--[if lt IE 9]><link rel="stylesheet" href="/css/style-ie8.css" type="text/css" media="all" /><![endif]-->    
        <script type="text/javascript" src="/js/libs/jquery-1.11.0.min.js"></script>           
        <script type="text/javascript" src="/js/libs/jquery.placeholder.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.mb.browser.min.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.imgpreload.min.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.selectBox.js"></script>
        <script type="text/javascript" src="/js/libs/idangerous.swiper.js"></script>
        <script type="text/javascript" src="/js/libs/idangerous.swiper.js"></script>
        <script type="text/javascript" src="/js/libs/idangerous.swiper.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.inputmask.bundle.js"></script>
        <script type="text/javascript" src="/js/libs/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/js/libs/fancybox/jquery.fancybox.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <!--[if gte IE 9]>
          <style type="text/css">
            .grad {
               filter: none;
            }
          </style>
        <![endif]-->        
        <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/libs/html5shiv.js"></script>
        <script type="text/javascript" src="/js/libs/css3-mediaqueries.js"></script>
        <![endif]-->    
    </head>
    <body class="inner static-bg">
        <div id="wrapper"><div id="inner-wrapper">
                <div id="sitebg"></div>

                <header>
                    <div class="center-col">
                        <a href="/" id="logo" title="На главную"><span>Сушманн:Пицманн</span></a>
                        <div class="info-block">
                            <div class="vk-block"><span class="semi">Официальная группа Вконтакте</span><br/><a href="http://vk.com/nvkz756300">vk.com/nvkz756300</a></div>
                            <div class="phone-block"><span class="semi">Доставка по тел.:</span><br/><span class="phone">8-987-654-3210</span></div>
                        </div>
                        <div class="center-block">
                            <select name="city"><option value="nkz" selected>Новокузнецк</option><option value="kem">Кемерово</option><option value="nsk">Новосибирск</option></select>
                            <br/>
                            <a id="promo-link" href="#"><span class="bg"></span><span>Модная доставка</span></a>
                        </div>
                        <div class="head-line"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="center-col">
                        <div class="mainmenu">
                            <ul>
                                <li class="active"><a href="#" class="item-menu">Меню</a></li>
                                <li><a href="#" class="item-specials">Акции</a></li>
                                <li><a href="#" class="item-delivery">Доставка</a></li>
                                <li><a href="#" class="item-about">О компании</a></li>
                            </ul>
                        </div>
                    </div>
                </header>
                
                
                <section id="inner-page">
                    <div id="breadcrumbs" class="center-col">
                        <a href="#">Главная</a> / <a href="#">О компании</a> / <span>Типовая страница</span>
                    </div>
                    <div class="center-col page-content static">
                        <h1>О компании</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam ipsum, porttitor ut eros id, tempus laoreet massa. Praesent sed nisl vitae est euismod luctus. Vestibulum tincidunt posuere orci nec sodales.
                        </p><p>Curabitur laoreet odio sit amet libero ultrices condimentum. Pellentesque rhoncus condimentum dolor non vestibulum. Sed eros nulla, tristique at risus sed, tempor lacinia ex. Aliquam porttitor dictum neque, sit amet semper augue aliquet at. Sed ac nisi sagittis, elementum nibh malesuada, semper velit. In felis ligula, auctor non orci vitae, condimentum tristique eros.</p>
                        <ul>
                            <li>Curabitur laoreet odio sit amet.
                                <ol>
                                    <li>Item 1</li>
                                    <li>Item 2</li>
                                    <li>Item 3</li>
                                    <li>Item 4</li>
                                </ol>
                            </li>
                            <li>libero ultrices condimentum.</li>
                            <li>Pellentesque rhoncus condimentum.</li>
                            <li>Dolor non vestibulum. Sed eros nulla</li>
                        </ul>
                        <hr/>
                        <h2>Заголовок h2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam ipsum, porttitor ut eros id, tempus laoreet massa. Praesent sed nisl vitae est euismod luctus. Vestibulum tincidunt posuere orci nec sodales.</p>
                        <h3>Заголовок h3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam ipsum, porttitor ut eros id, tempus laoreet massa. Praesent sed nisl vitae est euismod luctus. Vestibulum tincidunt posuere orci nec sodales.</p>

                        <table border="1">
                            <tr>
                                <th>Наименование</th>
                                <th>Кол-во</th>
                                <th>Вес</th>
                                <th>Цена</th>
                            </tr>
                            <tr>
                                <td>Пицца "Пеперони" с соусом чили</td>
                                <td>3</td>
                                <td>250 г</td>
                                <td>390 руб.</td>
                            </tr>
                            <tr>
                                <td>Пицца "Пеперони" с соусом чили</td>
                                <td>3</td>
                                <td>250 г</td>
                                <td>390 руб.</td>
                            </tr>
                            <tr>
                                <td>Пицца "Пеперони" с соусом чили</td>
                                <td>3</td>
                                <td>250 г</td>
                                <td>390 руб.</td>
                            </tr>
                        </table>
                        <br/>
                        <table border="0">
                            <tr>
                                <th>Наименование</th>
                                <th>Кол-во</th>
                                <th>Вес</th>
                                <th>Цена</th>
                            </tr>
                            <tr>
                                <td>Пицца "Пеперони" с соусом чили</td>
                                <td>3</td>
                                <td>250 г</td>
                                <td>390 руб.</td>
                            </tr>
                            <tr>
                                <td>Пицца "Пеперони" с соусом чили</td>
                                <td>3</td>
                                <td>250 г</td>
                                <td>390 руб.</td>
                            </tr>
                            <tr>
                                <td>Пицца "Пеперони" с соусом чили</td>
                                <td>3</td>
                                <td>250 г</td>
                                <td>390 руб.</td>
                            </tr>
                        </table>
                        

                        

                        <div class="clear"></div>
                    </div>
                </section>
                
                <footer>
                    <div class="inside-cont center-col">
                        <div class="mainmenu">
                            <ul>
                                <li><a href="#" class="item-menu">Меню</a></li>
                                <li><a href="#" class="item-specials">Акции</a></li>
                                <li><a href="#" class="item-delivery">Доставка</a></li>
                                <li><a href="#" class="item-about">О компании</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="outside-cont">
                        <div class="center-col">
                            <div class="phone">8-987-654-3210</div>
                            <div class="card-block">
                                <span>оплата по карте</span><br/>
                                <span class="icon-card icon-visa"></span><span class="icon-card icon-mastercard"></span>
                            </div>
                            <div class="right-block valigned">
                                <span>ОГРН 313425310700041</span>
                            </div>
    <!--                        <a id="sitedesign" href="http://www.web-axioma.ru/" target="_blank" title="Создание, продвижение и администрирование сайтов">Создание сайта — AXIOMA</a> -->
                            <div class="clear"></div>
                        </div>
                    </div>
                </footer>
                
        </div></div>
        <div class="btnUp"></div>
    </body>
</html>