.items li.sectionTitle {
display:block;
border:none;
width:100%;
/*clear:both;*/
height:auto;
    color: #dae3ea;
    font-family: 'CentSchbkCyrill BT';
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
	margin-top:10px
}
h1
{
    font-family: 'CentSchbkCyrill BT';
    font-weight: bold;
    font-style: italic;
    font-size: 34px;
}